body {
  background-color: lightskyblue;
}

.App{
  background-color: #843b62;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

.heading{
  text-align: center;
  padding:20px;
  font-size:30px;
  font-weight: bolder;
  color:#fff;
}
#to-do-form input {
  background-color: #ffb997;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color:#fff;
}

#to-do-form input::placeholder {
  color: white;
}

#to-do-form input:focus, #to-do-form button:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color:#ffb997;
  cursor:pointer;
  font-weight: bolder;
  color: #fff;

}